<!-- FONDO (siempre visible) -->
<div class="bg">
  <video class="bg-video" autoplay muted loop playsinline [muted]="true">
    <source src="assets/background.mp4" type="video/mp4" />
  </video>
  <div class="bg-overlay"></div>
</div>

<!-- PANTALLA LOCK -->
<div class="lock" *ngIf="state === 'LOCK'">
  <div class="card">

    <form (ngSubmit)="submit()" autocomplete="off">
      <input
        #pwdInput
        class="pwd"
        type="text"
        [value]="maskedPassword"
        placeholder="*****"
        [class.pwd-error]="inputError"
        (keydown)="onPasswordKeydown($event)"
        (paste)="onPasswordPaste($event)"
        (blur)="onPasswordBlur()"
        autofocus
      />
    </form>
  </div>
</div>

<!-- PANTALLA SUCCESS (VIDEO FULLSCREEN) -->
<div class="success" *ngIf="state === 'SUCCESS'">
  <video #successVideo class="success-video" playsinline muted (ended)="onSuccessVideoEnded()">
    <source src="assets/result.mp4" type="video/mp4" />
  </video>
</div>
